body{
  text-align: center;
  font-family: helvetica, sans-serif;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2{
  font-size: 18px;
  color: white;
}
.head{
  background-image: url("./resources/images/the-flatiron-building.png");
}
